<!DOCTYPE html>

% user = get('user')

<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Finances</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/img/favicon.png">

  <style type="text/css">
    body {
      padding: 80px;
    }
    footer {
      text-align: center;
      padding: 10px 0 0 100px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    .navbar {
      z-index: 0;
    }
    .email {
      text-align: right;
    }
  </style>
</head>

<body>

<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand">Finances</a>
    </div>

    <ul class="nav navbar-nav">
      % if user:
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Accounts<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/account">All</a></li>
              <li><a href="/account?is_personal=1">Personal</a></li>
              <li><a href="/account?is_personal=0">Not Personal</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{ user.email }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a class="disabled">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>

      % else:
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>

      % end
    </ul>

  </nav>
</header>

<article>
  {{ !base }}

  % if defined('errors'):
    <section class="well bs-component">
        % if isinstance(get('errors'), str):
          % include('error.html', error=get('errors'))

        % else:
          % for error in get('errors'):
            % include('error.html', error=error)
          % end

        % end
    </section>
  % end

</article>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>