<!DOCTYPE html>

% from finances.core import *
% username = get_cookie('username')

<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Finances</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body id="index" class="home">

<header id="banner" class="body">
    <h1><a href="/">Finances <strong>Храни и умножай.</strong></a></h1>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
        % if username:
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/spending">Spending</a></li>
            <li><a href="/incoming">Incoming</a></li>
        % else:
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        % end
        </ul>
    </nav>
</header>

<aside id="featured" class="body">
    {{ !base }}
</aside>

<a href="https://github.com/afonasev/finances">
<img style="position: absolute; top: 0; right: 0; border: 0;"
     src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
     alt="Fork me on GitHub"
     data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

</body>
</html>
