<!DOCTYPE html>

% user = get('user')

<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Finances</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/img/favicon.png">

  <style type="text/css">
    body {
      margin: auto;
      padding: 80px;
      max-width: 1000px;
    }
    footer {
      text-align: center;
      padding: 10px 0 0 100px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    .navbar {
      z-index: 1;
    }
  </style>
</head>

<body>

<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Finances [0.5.0]</a>
    </div>

    <ul class="nav navbar-nav">
      % if user:
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Accounts<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/account">All</a></li>
              <li><a href="/account?is_personal=1">Personal</a></li>
              <li><a href="/account?is_personal=0">Not Personal</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">{{ user.email }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a class="disabled">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>

      % else:
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Sign Up</a></li>

      % end
    </ul>

  </nav>
</header>

<article>
  {{ !base }}

  % if defined('error'):
    % include('error.html', error=get('error'))
  % end
</article>

<a href="https://github.com/afonasev/finances"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 2" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>