% rebase('base.html')
% from finances.models import *

<h1>Траты</h1>
<div class="section">
    <form action="/expenses/add" method="post">
    <h3>Добавьте запись о расходах</h3>
    <table>
        <tr><th>Категория</th><th>Сумма</th><th>Описание</th><th>Дата</th></tr>
        <tr>
            <th>
                <select name="category">
                %for category in Category.select():
                    <option value="{{category.id}}">{{category.name}}</option>
                %end
                </select>
            </th>
            <th><input name="value" type="number" placeholder="Сумма (в рублях)" required/></th>
            <th><input name="description" type="text" placeholder="Описание" size="15"/></th>
            <th><input name="date" type="date" placeholder="Дата"/></th>
            <th><input value="Добавить" type="submit"/> <input value="Сброс" type="reset"/></th>
        </tr>
    </table>

    <p>* Поля "Дата" и "Описание" заполнять необязательно
        (Дата будет при этом будет проставлена текущая)</p>

    </form>

    <h3>Ваши расходы:</h3>
    <table>
        <tr><th>Категория</th><th>Сумма</th><th>Описание</th><th>Дата</th></tr>
        %total = 0
        %for expense in get('expenses'):
            %total += expense.value
        <tr>
            <th>{{Category.get(id=expense.category).name}}</th>
            <th>{{expense.value}}</th>
            <th title="{{expense.description}}">
                {{expense.description[:16] + ('...' if len(expense.description) > 14 else '')}}
            </th>
            <th>{{expense.date}}</th>
            <th>
                <form action="/expenses/remove/{{expense.id}}" method="get">
                    <input value="Удалить" type="submit"/>
                </form>
            </th>
        </tr>
        %end

        <tr>
            <th></th>
            <th>Всего {{total}} р.</th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
