% rebase('base.html')
<h1 class="entry-title"><a href="/posts/1">My first post</a></h1>

<footer class="post-info">
    By <a href="/user/lividar">Afonasev Eugene</a>
</footer>

<p>Some time has passed and some really nice features have found their
    way into the bottle core framework. As we are now preparing for the new release, let me show
    you the most important changes and ...

<p>As promised: All changes are <strong>fully backwards compatible</strong> to the <strong>last
    stable release (bottle-0.11)</strong> and all deprecated APIs print a warning to make
    the transition as easy as possible.</p>

<div class="section">
    <h2>Routing</h2>

    <p>Thanks to the awesome work of <em>Nicolas Vanhoren</em>, we got rid of the
        that were caused by our optimization code. The
        new implementation is as fast as the old one (slightly faster for some scenarios),
        but without the reordering and grouping special cases of the old implementation.</p>
</div>
