% rebase('base.html')

% if get('error'):
<div class="section" id="error">
    <p class="error">{{ error }}</p>
</div>
% end

<article>
    <h1>Login with your account</h1>
    <div class="section" id="login_form">
        <form action="/login" method="post">
            Username: <br><input name="username" type="text"/><br>
            Password: <br><input name="password" type="password"/><br>
            <input value="Login" type="submit"/>
        </form>
    </div>
</article>

<article>
    <h1>Create a new account</h1>
    <div class="section" id="register_form">
        <form action="/register" method="post">
            Username: <br><input name="username" type="text"/><br>
            Password: <br><input name="password" type="password"/><br>
            <input value="Register" type="submit"/>
        </form>
    </div>
</article>
