% rebase('base.html')
<h1>Sign on now!</h1>

% if get('error'):
    <div class="section" id="error">
        <p class="error">{{ error }}</p>
    </div>
% end

<div class="section" id="register_form">
    <form action="/sign_on" method="post">
        Username: <br><input name="username" type="text"/><br>
        Password: <br><input name="password" type="password"/><br>
        <input value="Login" type="submit"/>
    </form>
</div>

<div class="section" id="info">
    <p><b>Username must be longer than 4 letters.</b></p>
</div>
