# jetbrains IDE project files
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage

# database files
*.db

# configuration file
config.py

finances.ipynb