<section class="well bs-component">
  <form action="/{{ action }}" method="POST">
    <legend>{{ title }}</legend>

    <label for="inputEmail" class="control-label"> Email </label>
    <input required name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">

    <label for="inputPassword" class="control-label"> Password </label>
    <input required name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">

    <br/>

    <div class="col-lg-offset-2">
      <button type="submit" class="btn btn-primary">
        {{ action.capitalize() }}
      </button>
    </div>
  </form>
</section>