<section class="well bs-component">
  <form action="/account" method="POST">
    <legend>Create new account</legend>

    <label for="inputText" class="control-label">Name</label>
    <input required name="name" type="text" class="form-control" id="inputText" placeholder="Name">

    <div class="checkbox">
      <label>
        <input type="checkbox" name="is_personal" checked>Personal account
      </label>
    </div>

    <div class="col-lg-offset-2">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</section>